@model IEnumerable<FMS_DEV.Models.TxnFCLBL>

@{
    ViewData["Title"] = "Index";
}


<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor"><b>FCL BLs</b></h3>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">FCL BLs</li>
                        </ol>
                        <button type="button" onclick="location.href='@Url.Action("Create", "TxnFCLBLs")'" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New FCL BL</button>
                    </div>
                </div>
            </div>
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                </div>
                <div class="col-md-3 align-self-center text-right">
                </div>
                <!-- Search-->
                <div class="col-md-4 align-self-center text-right">
                    @using (Html.BeginForm("Index", "TxnFCLBLs", new { searchString = "" }, FormMethod.Post))
                    {
                        <div class="input-group">

                            <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Search by FCL BL No..." />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-info"> <i class="fas fa-search-plus"></i> Go!</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- End Search-->
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <!-- ============================================================== -->
                        <!-- Orginal code Start  -->
                        <!-- ============================================================== -->
                        <table class="table color-bordered-table purple-bordered-table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.JobNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BLNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GrossWeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CBM)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NetWeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NoofPackages)
                                    </th>
                                    <th>@Html.DisplayNameFor(model => model.HSCode)
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.JobNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BLNo)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GrossWeight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CBM)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NetWeight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoofPackages)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.HSCode)</td>
                                        <td nowrap="">
                                            <a class="btn btn-sm btn-rounded btn-primary" asp-action="Edit" asp-route-id="@item.JobNo" asp-route-pBLnumber="@item.BLNo"><i class="fa fa-edit"></i> Edit</a> |
                                            <a class="btn btn-sm btn-rounded btn-success" asp-action="Details" asp-route-id="@item.JobNo" asp-route-pBLnumber="@item.BLNo"><i class="fa  ti-view-list-alt"></i> Details</a>
                                            </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- ============================================================== -->
                        <!-- Orginal code END  -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
            @*             <div class="container">
            @if (pager.TotalPages > 0)
            {
            <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
            <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
            <a class="page-link" aps-controller="RefPorts" asp-action="Index" asp-route-pg="@pge"> @pge </a>
            </li>
            }
            </ul>
            <ul class="pagination justify-content-end">
            <p> Page @(pager.TotalPages < pager.CurrentPage ? 0 : pager.CurrentPage) of @pager.TotalPages </p>
            </ul>
            }
            </div> *@
        </div>
    </div>
</div>


