@model FMS_DEV.ViewModel.PayVoucherExportViewModel

@{
    ViewData["Title"] = "Payment Vocher";
    //Pager pager = new Pager();
    //int pageNo = 0;
    //if (ViewBag.Pager != null)
    //{
    //    pager = ViewBag.Pager;
    //    pageNo = pager.CurrentPage;
    //}
}
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="card">
                <div class="card-header bg-info">
                    <h3 class="m-b-0 text-white">PAYEMENT VOUCHER-EXPORT CREATE</h3>

                </div>

                <div class="card-body">

                    <!--Job No.-->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <label for="JobNo">Job No.</label>
                                </div>
                                <div class="col-5">
                                    <!-- Search-->
                                    <div class="row align-self-center text-right">
                                        @using (Html.BeginForm("Create", "TxnPaymentVoucherExportHds", new { searchString = "" }, FormMethod.Get))
                                        {
                                            <div class="input-group">
                                                <input type="text" id="searchString" name="searchString" class="form-control" />
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-info"> <i class="fas fa-search-plus"></i> Go!</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!-- End Search-->
                                </div>
                                <label class="control-label text-right col-md-4" style="color: red;">@ViewBag.JobFound</label>
                            </div>

                        </div>

                        <div class="col-md-8"></div>

                    </div><br />

                    <!--Job Details-->
                    <div class="row">
                        <div class="col-md-6">
                            <b>Job Details</b>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <div style="border:1px  solid black; padding: 10px 10px 10px 10px; background-color:#E5F2FB; border-radius:10px;">

                        <!--Job No & Date-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Job No">Job No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <span id="jobno">
                                            <b>  @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().JobNo) </b>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Date">Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().JobDate)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4"></div>

                        </div><br />

                        <!--Sales Person-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Vessel">Vessel</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().VesselExportJobDtlNavigation.VesselName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <br />
                        <!--Vessel ,ETD (Date) & Shipper-->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Vessel">Voyage</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().Voyage)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="ETD (Date)">Agent</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().AgentExportNavigation.AgentName)

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Shipper">Shipper</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().ShippingLineExportNavigation.Name)
                                    </div>
                                </div>
                            </div>

                        </div><br />

                        <!--Final Destination & Consignee-->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Final Destination">Final Destination</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().FDNExportJobNavigation.PortName)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Final Destination">Coloader</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().ColoaderExportNavigation.Name)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Consignee">Coload</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ExportJobHdMulti.FirstOrDefault().IsCoLoad)
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </div>
                    <hr>

                    <form asp-action="Create" id="CreateHDForm">
                        <!--Credit Note-->
                        <div class="row">
                            <div class="col-md-6">
                                <h4>
                                    Payment Vocher
                                </h4>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <!--Credit Note No.,Date,PO Agent & Exchange Rate-->
                        <!--Invoice NO,Date,Customer & Exchange Rate-->
                        <div class="row">


                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Date ">Date </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="date" asp-for="PayVoucherHdMulti.FirstOrDefault().Date" class="form-control" value="Date" />
                                        <span asp-validation-for="PayVoucherHdMulti.FirstOrDefault().Date" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="radio" id="Overseas" name="Location" value="Overseas" checked />
                                        <label for="Overseas">Overseas</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" id="Local" name="Location" value="Local" />
                                        <label for="Local">Local</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Exchange Rate">Exchange Rate</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" asp-for="PayVoucherHdMulti.FirstOrDefault().ExchangeRate" class="form-control" />
                                        <span asp-validation-for="PayVoucherHdMulti.FirstOrDefault().ExchangeRate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div><br />
                        <br />
                        <div class="col-md-4">
                            <div id="localDropdown" class="row" style="display:none;">
                                <div class="col-md-4">
                                    <label for="Customer">Shipping Line</label>
                                </div>
                                <div class="col-md-8">
                                    <select id="ShippingLine" asp-for="PayVoucherHdMulti.FirstOrDefault().Customer" class="form-control" asp-items="ViewBag.ShippingLine"></select>
                                </div>
                            </div>
                            <div id="overseasDropdown" class="row">
                                <div class="col-md-4">
                                    <label for="Customer">PO Agent</label>
                                </div>
                                <div class="col-md-8">
                                    <select id="POAgent" asp-for="PayVoucherHdMulti.FirstOrDefault().AgentID" class="form-control" asp-items="ViewBag.AgentIDNomination"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
@*                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Customer">Debit Acc</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="IntendedVessel" asp-for="PayVoucherHdMulti.FirstOrDefault().DebitAcc" class="form-control" asp-items="ViewBag.AccountsCodes"></select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
@*                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Customer">Credit Acc</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="IntendedVessel" asp-for="PayVoucherHdMulti.FirstOrDefault().CreditAcc" class="form-control" asp-items="ViewBag.AccountsCodes"></select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <!--Table for Charge Items --><br />
                        <div class="row">
                            <div class="col-md-1">
                                <label for="payment currency">Payment Currency</label>
                            </div>
                            <div class="col-md-2">
                                <select asp-for="PayVoucherHdMulti.FirstOrDefault().PayCurrency" class="form-control" asp-items="ViewBag.paymentcurrencyList"></select>
                            </div>
                            <div class="col-md-7"></div>
                        </div>
                        <!--Table for Charge Items --><br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover border table-striped" id="tblContainer">
                                        <thead>
                                            <tr>
                                                <th>BL/Container No</th>
                                                <th>Charge Item</th>
                                                <th>Unit</th>
                                                <th>Rate </th>
                                                <th>Currency</th>
                                                <th>Qty</th>
                                                <th>Amount</th>
                                            </tr>

                                        </thead>

                                        <tbody id="ContainerDetailsBody">
                                            <tr id="tablerow0" hidden>
                                                <td> <input type="text" id="Bcn" asp-for="PayVoucherDtlMulti.FirstOrDefault().BlContainerNo" name="Bcn" value="" class="form-control"></td>
                                                <td style="width:30%;"> <select id="ChargeItemRw" asp-for="PayVoucherDtlMulti.FirstOrDefault().ChargeItem" value="" name="ChargeItemRw" class="form-control" asp-items="ViewBag.ChargeItemsList"></select> </td>
                                                <td style="width:10%;"> <select id="Unit" asp-for="PayVoucherDtlMulti.FirstOrDefault().Unit" value="" name="Unit" class="form-control" asp-items="ViewBag.UnitList"></select> </td>
                                                <td style="width:10%;"> <input type="text" id="Rate" asp-for="PayVoucherDtlMulti.FirstOrDefault().Rate" name="Rate" value="" class="form-control" onchange="calculateAmount(this)"></td>
                                                <td> <select id="Currency" asp-for="PayVoucherDtlMulti.FirstOrDefault().Currency" value="" name="Currency" class="form-control" asp-items="ViewBag.CurrencyList"></select> </td>
                                                <td> <input type="text" id="Qty" asp-for="PayVoucherDtlMulti.FirstOrDefault().Qty" name="Qty" value="" class="form-control" onchange="calculateAmount(this)"></td>
                                                <td> <input type="text" id="Amount" asp-for="PayVoucherDtlMulti.FirstOrDefault().Amount" name="Amount" value="" class="form-control" readonly></td>
                                                <td> <input type="button" id="btnRemove" class="btn btn-danger" value="X" name="RemoveBttn" onclick="RemoveRow(this)" /></td>
                                            </tr>
                                            @foreach (var item in Model.PayVoucherDtlMulti)
                                            {
                                                <tr id="tablerow0">
                                                    <td> <input type="text" id="Bcn" asp-for="PayVoucherDtlMulti.FirstOrDefault().BlContainerNo" name="Bcn" value="@item.BlContainerNo" class="form-control"></td>
                                                    <td> <select id="ChargeItemRw" asp-for="PayVoucherDtlMulti.FirstOrDefault().ChargeItem" value="@item.ChargeItem" name="ChargeItemRw" class="form-control" asp-items="ViewBag.ChargeItemsList"></select> </td>
                                                    <td> <input type="text" id="UnitRw" asp-for="PayVoucherDtlMulti.FirstOrDefault().Unit" name="UnitRw" value="@item.Unit" class="form-control"></td>
                                                    <td> <input type="text" id="Rate" asp-for="PayVoucherDtlMulti.FirstOrDefault().Rate" name="Rate" value="@item.Rate" class="form-control"></td>
                                                    <td> <input type="text" id="Currency" asp-for="PayVoucherDtlMulti.FirstOrDefault().Currency" name="Currency" value="@item.Currency" class="form-control"></td>
                                                    <td> <input type="text" id="Qty" asp-for="PayVoucherDtlMulti.FirstOrDefault().Qty" name="Qty" value="@item.Qty" class="form-control"></td>
                                                    <td> <input type="text" id="Amount" asp-for="PayVoucherDtlMulti.FirstOrDefault().Amount" name="Amount" value="" class="form-control" readonly></td>
                                                    <td><input type="button" id="btnRemove" class="btn btn-danger" value="X" name="RemoveBttn" onclick="RemoveRow(this)" /> </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--Add button Charge Items-->
                            <div class="col-md-4">
                                <div class="form-group">

                                    <input id="add" type="button" value="+ Charge Item" onclick="AddRow(this)"
                                           class="btn btn-success" />
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                            <!--Total LKR-->
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="TotalAmount">Total Amount LKR:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" asp-for="PayVoucherHdMulti.FirstOrDefault().TotalPayVoucherAmountLkr" class="form-control" id="TotalAmtLKR" readonly />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="TotalAmount">Total Amount USD:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" asp-for="PayVoucherHdMulti.FirstOrDefault().TotalPayVoucherAmountUsd" class="form-control" id="TotalAmtUSD" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <!--Remarks Textbox-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <h6 class="box-title">Remarks</h6>
                                    <div class="col-md-12">
                                        <textarea asp-for="PayVoucherHdMulti.FirstOrDefault().Remarks" class="form-control" name="Remarks" type="text" placeholder="Type here your Remarks" rows="5"> </textarea>
                                        @* <input asp-for="BLTypeID" class="form-control" />*@
                                        <span asp-validation-for="PayVoucherHdMulti.FirstOrDefault().Remarks" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>

                        </div><br />

                        <!--Save Button-->
                        <div class="row">
                            <div class="form-group">
                                <input type="hidden" id="locationInput" name="Type" value="">
                                <input hidden type="text" asp-for="PayVoucherHdMulti.FirstOrDefault().JobNo" value="@Model.ExportJobHdMulti.FirstOrDefault()?.JobNo" class="form-control" />
                                <input type="hidden" id="dtlItemsList" name="dtlItemsList" />
                                <input type="submit" value="Save" onclick="submitForm(this)" class="btn btn-primary" />
                            </div>
                        </div>

                    </form>




                </div>

            </div>

        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <!-- ============================================================== -->
        <!-- Orginal details End -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  END -->
    <!-- ============================================================== -->

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var overseasRadio = document.getElementById("Overseas");
        var localRadio = document.getElementById("Local");
        var locationInput = document.getElementById("locationInput");

        overseasRadio.addEventListener("change", function () {
            if (overseasRadio.checked) {
                locationInput.value = overseasRadio.value;
            }
        });

        localRadio.addEventListener("change", function () {
            if (localRadio.checked) {
                locationInput.value = localRadio.value;
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var overseasRadio = document.getElementById("Overseas");
        var localRadio = document.getElementById("Local");
        var overseasDropdown = document.getElementById("overseasDropdown");
        var localDropdown = document.getElementById("localDropdown");
        var poAgentDropdown = document.getElementById("POAgent");
        var shippingLineDropdown = document.getElementById("ShippingLine");

        overseasRadio.addEventListener("change", function () {
            if (overseasRadio.checked) {
                overseasDropdown.style.display = "flex";
                localDropdown.style.display = "none";
                // Set shipping line dropdown value to null
                shippingLineDropdown.value = "";
            }
        });

        localRadio.addEventListener("change", function () {
            if (localRadio.checked) {
                overseasDropdown.style.display = "none";
                localDropdown.style.display = "flex";
                // Set PO Agent dropdown value to null
                poAgentDropdown.value = "";
            }
        });
    });
</script>
<script>
    // Create and submit Charge Items

    function submitForm(e) {

        const dtlItemsArray = [];
        const tableRows = $("#tblContainer tbody tr");
        var chkAmount = "";

        tableRows.each(function (index) {
            const trRow = $(this);
            chkAmount = trRow.find('input[name="Amount"]').val();

            if (chkAmount === "" || parseFloat(chkAmount) === 0) {
                // chkAmount is empty or zero
                //console.log("chkAmount is empty or zero");
            } else {
                // chkAmount is not empty and not zero
                const dtlItemJson = buildItemsJson(trRow, index);
                dtlItemsArray.push(dtlItemJson);
            }
        });

        $("#dtlItemsList").val(JSON.stringify(dtlItemsArray));
        var jobNo = JobHdMulti.FirstOrDefault().JobNo;
        alert("jobNo: " + jobNo);

        // Assign the value to the hidden input field using jQuery
        $('#invoiceJobNo').val(jobNo);
    }

    // Json Var create
    function buildItemsJson(trRow, id) {
        return {
            SerialNo: id,
            Description: trRow.find('input[name="Description"]').val(),
            Amount: trRow.find('input[name="Amount"]').val(),
        };
    }

</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Enter key blocking from submitig
        document.getElementById("CreateHDForm").onkeypress = function (e) {

            preventEnterSubmit(e);
        }

    </script>
    <script>
        function preventEnterSubmit(e) {
            // Enter Key
            if (e.which == 13) {
                var $targ = $(e.target);
                // alert(" Enter Key !" );
                if (!$targ.is("textarea") && !$targ.is(":button,:submit")) {
                    //alert(" Not Textarea !");
                    e.preventDefault();
                }

            }
        }
    </script>
    <script type="text/javascript">
        function AddRow(e) {
            // alert(" record(s) inserted.");
            //clones the first row of the table
            var newRow = $("#tblContainer tbody tr").first().clone();
            //removes the 'hidden' attribute so it will be visible when added  to the table
            newRow.removeAttr("hidden");

            // Get No of rows
            var NoOfRows = $("#tblContainer tbody tr").length
            var counter = NoOfRows + 1;


            // Update remove Button
            var removeBtn = newRow.find('input[name="RemoveBttn"]');
            var RemoveBtnVal = 'RemoveRow(' + counter + ')';
            $(removeBtn).attr('onclick', RemoveBtnVal);

            //Update Row id (for remove)
            var RowID = "tablerow" + counter;
            newRow.attr("id", RowID);
            //add/append new row to the table

            $("tbody").append(newRow);

            return false;

        }

        function RemoveRow(index) {
            // alert(" record remove: " + index);
            $('#tablerow' + index).remove();
            calculateTotalAmount();
            return false;
        }
    </script>
    <script>
        // Create and submit Charge Items

        function submitForm(e) {

            const dtlItemsArray = [];
            const tableRows = $("#tblContainer tbody tr");
            var chkAmount = "";

            tableRows.each(function (index) {
                //alert("Test in tbl ROW");
                const trRow = $(this);
                chkAmount = trRow.find('input[name="Amount"]').val();
                // Check if chkAmount is empty or zero
                if (chkAmount === "" || parseFloat(chkAmount) === 0) {
                    // chkAmount is empty or zero
                    //console.log("chkAmount is empty or zero");
                } else {
                    // chkAmount is not empty and not zero
                    const dtlItemJson = buildItemsJson(trRow, index);
                    dtlItemsArray.push(dtlItemJson);
                }
            });
            $("#dtlItemsList").val(JSON.stringify(dtlItemsArray));
        }
        // Json Var create
        function buildItemsJson(trRow, id) {
            return {
                SerialNo: id,
                BlContainerNo: trRow.find('input[name="Bcn"]').val(),
                ChargeItem: trRow.find('select[name="ChargeItemRw"]').val(),
                Unit: trRow.find('select[name="Unit"]').val(),
                Rate: trRow.find('input[name="Rate"]').val(),
                Currency: trRow.find('select[name="Currency"]').val(),
                Qty: trRow.find('input[name="Qty"]').val(),
                Amount: trRow.find('input[name="Amount"]').val(),
            };
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Add event listener to the parent table
            var containerTable = document.querySelector("#ContainerDetailsBody");
            containerTable.addEventListener("input", function (event) {
                var target = event.target;

                // Check if the input is in a row and has the relevant IDs
                if (target.closest("tr") && (target.id === "Rate" || target.id === "Qty" || target.id === "Currency")) {
                    calculateAmount(target);
                }
            });

            containerTable.addEventListener("change", function (event) {
                var target = event.target;

                // Check if the change event is for the Currency dropdown
                if (target.closest("tr") && target.id === "Currency") {
                    calculateTotalAmount();
                }
            });

            // Add event listeners to all remove buttons
            var removeButtons = document.querySelectorAll("#ContainerDetailsBody #btnRemove");
            removeButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    // Remove the row and recalculate total amount
                    var row = this.parentNode.parentNode;
                    row.parentNode.removeChild(row);
                    calculateTotalAmount();
                });
            });
        });

        function calculateAmount(element) {
            // Calculate amount for the current row
            var row = element.closest("tr");
            var rate = parseFloat(row.querySelector("#Rate").value);
            var qty = parseFloat(row.querySelector("#Qty").value);
            var amount = rate * qty;

            if (!isNaN(amount)) {
                row.querySelector("#Amount").value = amount.toFixed(2);
            }

            // Calculate total amount for all rows
            calculateTotalAmount();
        }

        function calculateTotalAmount() {
            var totalAmount = 0;
            var totalUSD = 0;
            var totalLKR = 0;
            var exchangeRate = parseFloat(document.querySelector("#ExchangeRate").value);

            var rows = document.querySelectorAll("#ContainerDetailsBody tr");

            rows.forEach(function (row) {
                var amountInput = row.querySelector("#Amount");
                var currencyInput = row.querySelector("#Currency");

                if (amountInput && currencyInput) {
                    var amount = parseFloat(amountInput.value);
                    var currency = currencyInput.value;

                    if (!isNaN(amount)) {
                        totalAmount += amount;

                        if (currency === "USD") {
                            totalUSD += amount;
                            totalLKR += amount * exchangeRate;
                        } else if (currency === "LKR") {
                            totalLKR += amount;
                            totalUSD += amount / exchangeRate;
                        }
                    }
                }
            });

            // Set the total amount in the TotalAmt input field
            totalLKR = isNaN(totalLKR) ? 0 : totalLKR;
            document.querySelector("#TotalAmtLKR").value = totalLKR.toFixed(2);
            document.querySelector("#TotalAmtUSD").value = totalUSD.toFixed(2);
        }

    </script>





}