@model FMS_DEV.ViewModel.DebitNoteImportViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">S
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="card">
                <div class="card-header bg-success">
                    <h4 class="m-b-0 text-white">IMPORT-DEBIT NOTE</h4>
                </div>

                <div class="card-body">
                    <!--Job Details-->
                    <div class="row">
                        <div class="col-md-6">
                            <b>Job Details</b>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <div style="border:1px  solid black; padding: 10px 10px 10px 10px; background-color:#E5F2FB; border-radius:10px;">

                        <!--Job No & Date-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Job No">Job No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <span id="jobno">
                                            <b>  @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().JobNo) </b>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Date">Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().JobDate)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4"></div>

                        </div><br />

                        <!--Sales Person-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Vessel">Vessel</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().VesselImportJobDtlNavigation.VesselName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <br />
                        <!--Vessel ,ETD (Date) & Shipper-->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Vessel">Voyage</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().Voyage)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="ETD (Date)">Agent</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().AgentNavigation.AgentName)

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Shipper">Shipper</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().ShippingLineNavigation.Name)
                                    </div>
                                </div>
                            </div>

                        </div><br />

                        <!--Final Destination & Consignee-->
                        <div class="row">

                            <div class="col-md-4">
@*                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Final Destination">Final Destination</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().FDNImportJobNavigation.PortName)
                                    </div>
                                </div>*@
                            </div>

                            <div class="col-md-4">
@*                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Final Destination">Coloader</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().ColoaderImportNavigation.Name)
                                    </div>
                                </div>*@
                            </div>
                            <div class="col-md-4">
@*                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Consignee">Coload</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(m => Model.ImportJobHdMulti.FirstOrDefault().IsCoLoad)
                                    </div>
                                </div>*@
                            </div>
                        </div><br />
                    </div>
                    <hr>

                    <form asp-action="Edit" id="txnDebitNoteHd">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="DebitNoteHdMulti.FirstOrDefault().DebitNoteNo" />
                        <input type="hidden" asp-for="DebitNoteHdMulti.FirstOrDefault().JobNo" />
                        <input type="hidden" asp-for="DebitNoteHdMulti.FirstOrDefault().CreatedBy" />
                        <input type="hidden" asp-for="DebitNoteHdMulti.FirstOrDefault().CreatedDateTime" />
                        <input type="hidden" asp-for="DebitNoteHdMulti.FirstOrDefault().Canceled" />
                        <!--Credit Note-->
                        <div class="row">
                            <div class="col-md-6">
                                <h4>
                                    Debit Note
                                </h4>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <!--Credit Note No.,Date,PO Agent & Exchange Rate-->
                        <!--Invoice NO,Date,Customer & Exchange Rate-->
                        <div class="row">


                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="DebitNote No. ">Debit Note No: </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" asp-for="DebitNoteHdMulti.FirstOrDefault().DebitNoteNo" class="form-control"  readonly />
                                        @*                                        <span asp-validation-for="DebitNoteHdMulti.FirstOrDefault().Date" class="text-danger" readonly></span>
*@                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Date ">Date </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="date" asp-for="DebitNoteHdMulti.FirstOrDefault().Date" class="form-control" asp-format="{0:yyyy-MM-dd}" readonly/>
                                        <span asp-validation-for="DebitNoteHdMulti.FirstOrDefault().Date" class="text-danger" readonly></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="radio" id="Overseas" name="Type" value="Overseas" disabled />
                                        <label for="CustomerType">Overseas</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" id="Local" name="Type" value="Local" disabled />
                                        <label for="CustomerType">Local</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Exchange Rate">Exchange Rate</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" asp-for="DebitNoteHdMulti.FirstOrDefault().ExchangeRate" class="form-control" readonly/>
                                        <span asp-validation-for="DebitNoteHdMulti.FirstOrDefault().ExchangeRate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div><br />
                        <div class="row">

                            <div class="col-md-4">
                                <div id="localDropdown" class="row" style="display:none;">
                                    <div class="col-md-4">
                                        <label for="Customer">Shipping Line</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="ShippingLine" asp-for="DebitNoteHdMulti.FirstOrDefault().Customer" class="form-control" asp-items="ViewBag.ShippingLine" disabled></select>
                                    </div>
                                </div>
                                <div id="overseasDropdown" class="row">
                                    <div class="col-md-4">
                                        <label for="Customer">PO Agent</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="POAgent" asp-for="DebitNoteHdMulti.FirstOrDefault().AgentID" class="form-control" asp-items="ViewBag.AgentIDNomination" disabled></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                                @*                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Customer">Debit Acc</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="IntendedVessel" asp-for="DebitNoteHdMulti.FirstOrDefault().DebitNoteNo" class="form-control" asp-items="ViewBag.AccountsCodes" disabled></select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                                @*                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Customer">Credit Acc</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="IntendedVessel" asp-for="DebitNoteHdMulti.FirstOrDefault().CreditAcc" class="form-control" asp-items="ViewBag.AccountsCodes" disabled></select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <!--Table for Charge Items --><br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover border table-striped" id="tblContainer">
                                        <thead>
                                            <tr>
                                                <th>BL/Container No</th>
                                                <th>Charge Item</th>
                                                <th>Unit</th>
                                                <th>Rate </th>
                                                <th>Currency</th>
                                                <th>Qty</th>
                                                <th>Amount</th>
                                            </tr>

                                        </thead>

                                        <tbody id="ContainerDetailsBody">
                                            <tr id="tablerow0" hidden>
                                                <td> <input type="text" id="Bcn" asp-for="DebitNoteDtlMulti.FirstOrDefault().BlContainerNo" name="Bcn" value="" class="form-control" readonly></td>
                                                <td style="width:30%;"> <select id="ChargeItemRw" asp-for="DebitNoteDtlMulti.FirstOrDefault().ChargeItem" value="" name="ChargeItemRw" class="form-control" asp-items="ViewBag.ChargeItemsList" disabled></select> </td>
                                                <td style="width:10%;"> <select id="Unit" asp-for="DebitNoteDtlMulti.FirstOrDefault().Unit" value="" name="Unit" class="form-control" asp-items="ViewBag.UnitList" disabled></select> </td>
                                                <td style="width:10%;"> <input type="text" id="Rate" asp-for="DebitNoteDtlMulti.FirstOrDefault().Rate" name="Rate" value="" class="form-control" onchange="calculateAmount(this)" readonly></td>
                                                <td> <select id="Currency" asp-for="DebitNoteDtlMulti.FirstOrDefault().Currency" value="" name="Currency" class="form-control" asp-items="ViewBag.CurrencyList" disabled></select> </td>
                                                <td> <input type="text" id="Qty" asp-for="DebitNoteDtlMulti.FirstOrDefault().Qty" name="Qty" value="" class="form-control" onchange="calculateAmount(this)" readonly></td>
                                                <td> <input type="text" id="Amount" asp-for="DebitNoteDtlMulti.FirstOrDefault().Amount" name="Amount" value="" class="form-control" readonly></td>
                                                <td> <input type="button" id="btnRemove" class="btn btn-danger" value="X" name="RemoveBttn" onclick="RemoveRow(this)" disabled/></td>
                                            </tr>
                                            @{
                                                var i = 0;
                                                @foreach (var item in Model.DebitNoteDtlMulti)
                                                {
                                                    i++;
                                                            <tr id="tablerow_@i">
                                                                <td> <input type="text" id="Bcn" asp-for="@item.BlContainerNo" name="Bcn" value="@item.BlContainerNo" class="form-control" readonly></td>
                                                                <td> <select id="ChargeItemRw" asp-for="@item.ChargeItem" value="@item.ChargeItem" name="ChargeItemRw" class="form-control" asp-items="ViewBag.ChargeItemsList" disabled></select> </td>
                                                                <td> <select type="text" id="UnitRw" asp-for="@item.Unit" name="UnitRw" value="@item.Unit" class="form-control" asp-items="ViewBag.UnitList" disabled></select></td>
                                                                <td> <input type="text" id="Rate" asp-for="@item.Rate" name="Rate" value="@item.Rate" class="form-control" style="text-align: right;" readonly></td>
                                                                <td> <select type="text" id="Currency" asp-for="@item.Currency" name="Currency" value="@item.Currency" class="form-control" asp-items="ViewBag.CurrencyList" disabled></select></td>
                                                                <td> <input type="text" id="Qty" asp-for="@item.Qty" name="Qty" value="@item.Qty" class="form-control" style="text-align: right;" readonly></td>
                                                                <td> <input type="text" id="Amount" asp-for="@item.Amount" name="Amount" value="@string.Format("{0:F2}", item.Amount)" class="form-control" style="text-align: right;" readonly></td>
                                                                <td><input type="button" id="btnRemove" class="btn btn-danger" value="X" name="RemoveBttn" onclick="RemoveRow(@i)" disabled> </td>
                                                            </tr>

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--Add button Charge Items-->
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-3"></div>
                            <!--Total LKR-->
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="TotalAmount">Total Amount LKR:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" asp-for="DebitNoteHdMulti.FirstOrDefault().TotalDebitAmountLkr" class="form-control" id="TotalAmtUSD"
                                               value="@String.Format("{0:N2}", Model.DebitNoteHdMulti.FirstOrDefault().TotalDebitAmountLkr)"
                                               style="text-align: right;" readonly />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="TotalAmount">Total Amount USD:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" asp-for="DebitNoteHdMulti.FirstOrDefault().TotalDebitAmountUsd" class="form-control" id="TotalAmtUSD"
                                               value="@String.Format("{0:N2}", Model.DebitNoteHdMulti.FirstOrDefault().TotalDebitAmountUsd)"
                                               style="text-align: right;" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <!--Remarks Textbox-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <h6 class="box-title">Remarks</h6>
                                    <div class="col-md-12">
                                        <textarea asp-for="DebitNoteHdMulti.FirstOrDefault().Remarks" class="form-control" name="Remarks" type="text" placeholder="Type here your Remarks" rows="5" readonly> </textarea>
                                        @* <input asp-for="BLTypeID" class="form-control" />*@
                                        <span asp-validation-for="DebitNoteHdMulti.FirstOrDefault().Remarks" class="text-danger" readonly></span>

                                    </div>
                                </div>
                            </div>

                        </div><br />

                    </form>




                </div>

            </div>

        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <!-- ============================================================== -->
        <!-- Orginal details End -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  END -->
    <!-- ============================================================== -->

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        // Initially hide both dropdowns
        $('#localDropdown').hide();
        $('#overseasDropdown').hide();

        // Check the value of Type and show/hide dropdowns accordingly
        var type = '@(Model.DebitNoteHdMulti.FirstOrDefault().Type)';
        if (type === 'Local') {
            $('#localDropdown').show();
            $('#ShippingLine').prop('disabled', true); // Disable ShippingLine dropdown
              $('#Local').prop('checked', true); // Check Local radio button
        } else if (type === 'Overseas') {
            $('#overseasDropdown').show();
            $('#POAgent').prop('disabled', true); // Disable POAgent dropdown
            $('#Overseas').prop('checked', true); // Check Overseas radio button
        }
    });
</script>





